@model StudentTracker.Site.ViewModels.Appointment.NewAppointmentViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <script type="text/javascript">
        $(function () {

            $('#StartTime').timepicker({
                showPeriod: true,
                showLeadingZero: false
            });

            $('#EndTime').timepicker({
                showPeriod: true,
                showLeadingZero: false
            });

        });

    </script>

}


<h2>
    New Appointment for @Model.Student.Name</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Create New Appointment</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Student.Name)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(m => m.Student.Id)
            @Html.DisplayTextFor(model => model.Student.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CourseId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CourseId, new SelectList(Model.Courses, "Id", "Name"))
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TeacherId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TeacherId, new SelectList(Model.Teachers, "Id", "Name"))
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Date, new { @class = "date" })
            @Html.ValidationMessageFor(m => m.Date)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartTime)
            @Html.ValidationMessageFor(m => m.StartTime)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EndTime)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndTime)
            @Html.ValidationMessageFor(m => m.EndTime)
        </div>
        @*<div class="editor-label">
            @Html.LabelFor(model => model.TimeSlotId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TimeSlotId , new SelectList(Model.TimeSlots, "Id", "Display"))
        </div>*@
        @*<div class="editor-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Duration)
            @Html.ValidationMessageFor(m => m.Duration)
        </div>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.AppointmentTypeId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.AppointmentTypeId, new SelectList(Model.AppointmentType, "Key", "Value"))
            @Html.ValidationMessageFor(m => m.AppointmentTypeId)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}