@model StudentTracker.Site.ViewModels.Appointment.AppointmentViewModels

@{
    ViewBag.Title = "CreateAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Appointment</h2>

@section head{
   <script src="" type="text/javascript"></script>

  <script src="/Content/Scripts/chosen.jquery.min.js" type="text/javascript"></script>

  <script type="text/javascript">
     $(function () {
          $('.chzn-select').chosen();
      });
 </script>
 

}

@using (Html.BeginForm("SaveAppintment", "Appointment", FormMethod.Post)) {
    @Html.ValidationSummary(true)
    <fieldset>
        
        <legend>Create New Appointment</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.TopicId)
        </div>
       
        <div class="editor-field">
            <select id="TopicId" name="TopicId" disabled="disabled" >
                @foreach(var group in Model.Course) {
                    <optgroup label="@group.Name">
                        @foreach(var item in group.Topics) {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </optgroup>
                }
                
            </select>
            
        </div>
        @Html.HiddenFor(model=>model.TopicId, new{value=@Model.TopicId})
        <div class="editor-label">
            @Html.LabelFor(model => model.TeacherId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TeacherId, new SelectList(Model.Teachers, "Key", "Value"))
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Date, new {@class = "date"})
            @Html.ValidationMessageFor(m => m.Date)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field">
                 @Html.DropDownListFor(model => model.StartTime, new SelectList(Model.StratTimes, "Key", "Value"))
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EndTime)
        </div>
        <div class="editor-field">
                   @Html.DropDownListFor(model => model.EndTime, new SelectList(Model.EndTimes, "Key", "Value"))
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StudentsId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.StudentsId, new SelectList(Model.Students, "Key", "Value"), new { multiple = "multiple", @class = "chzn-select", data_placeholder = "Choose at least one student", style = "width:150px" })
        </div>
        
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
