@model StudentTracker.Site.ViewModels.Appointment.ListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    List of Appointment for : @Model.StudentViewModel.Name
</h2>
<br>
<b>Total Duration : @ViewBag.TotalDuration </b>
<br />
<br />
<table class="data" cellspacing="0">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Duration
            </th>
            @*<th>
                Time Slot
            </th>
            <th>
                Appointment Type
            </th>*@
            <th>
                Teacher Name
            </th>
            <th>
                Topic
            </th>
            <th>
                Type
            </th>
            @* <th>
                &nbsp;
            </th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model.Appointments != null) {
            foreach (var app in Model.Appointments) { 
            <tr>
                <td>
                    @string.Format("{0:dd MMM yyyy}", app.Date)
                </td>
                <td>
                    @string.Format("{0:hh:mm tt}", app.StartTime)
                </td>
                <td>
                    @string.Format("{0:hh:mm tt}", app.EndTime)
                </td>
                <td>
                    @string.Format("{0:hh\\:mm}", app.Duration)
                </td>
                @* <td>
                    @app.Timeslot.Display
                </td>*@ @*{<td>
                     @app.AppointmentType.ToString()
                 </td>}*@
                <td>
                    @app.Teacher
                </td>
                <td>
                    @app.Topic
                </td>
                <td>
                    @(app.IsPersonal?"Personal Appointment":"Group Appointment")
                </td>
                <td>
                    <a href="/Appointment/Delete?studentId=@Model.StudentViewModel.Id&appointmentId=@app.Id">
                        <img src="/Content/Images/cross.png" alt="Delete Appointment" title="Delete Appointment" />
                    </a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
