@model StudentTracker.Site.ViewModels.Appointment.ListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .red
    {
        color: red;
    }
</style>
<h2>
    List of Appointment for : @Model.StudentViewModel.Name
</h2>
<br>
<b>Group Classes : @(Model.GroupedDurations.Hours + Model.GroupedDurations.Days * 24)
    Hours @Model.GroupedDurations.Minutes Minute</b>
<br />
<b>Personal Classes : @(Model.PersonalDurations.Hours + Model.PersonalDurations.Days * 24)
    Hours @Model.PersonalDurations.Minutes Minute</b>
<br />
<b>Total Classes : @(Model.TotalDurations.Hours + Model.TotalDurations.Days * 24)
    Hours @Model.TotalDurations.Minutes Minute</b>
<br />
<br />
<b>Missed Classes : @(Model.MissedDurations.Hours + Model.MissedDurations.Days * 24)
    Hours @Model.MissedDurations.Minutes Minute</b>
<br />
<br />
<table class="data" cellspacing="0">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Duration
            </th>
            <th>
                Teacher Name
            </th>
            <th>
                Topic
            </th>
            <th>
                Type
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Appointments != null) {
            foreach (var app in Model.Appointments) { 
                
            <tr class='@(app.IsMissed ? "red" : "green")'>
                <td>
                    @string.Format("{0:dd MMM yyyy}", app.Date)
                </td>
                <td>
                    @string.Format("{0:hh:mm tt}", app.StartTime)
                </td>
                <td>
                    @string.Format("{0:hh:mm tt}", app.EndTime)
                </td>
                <td>
                    @string.Format("{0:hh\\:mm}", app.Duration)
                </td>
                <td>
                    @app.Teacher
                </td>
                <td>
                    @app.Topic
                </td>
                <td>
                    @(app.IsPersonal.HasValue ? (app.IsPersonal.Value ? "Personal" : "Group") : "Missed")
                </td>
                <td>
                    <a href="/Appointment/Delete?studentId=@Model.StudentViewModel.Id&appointmentId=@app.Id">
                        <img src="/Content/Images/cross.png" alt="Delete Appointment" title="Delete Appointment" />
                    </a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
