@model StudentTracker.Site.ViewModels.Appointment.NewAppointmentViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <script type="text/javascript">
        $(function () {

            $('#StartTime').timepicker({
                showPeriod: true,
                showLeadingZero: false
            });

            $('#EndTime').timepicker({
                showPeriod: true,
                showLeadingZero: false
            });

        });

    </script>
}
<h2>
    New Appointment for @Model.Student.Name</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Create New Appointment</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Student.Name)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(m => m.Student.Id)
            @Html.DisplayTextFor(model => model.Student.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TopicId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TopicId, new SelectList(Model.Topic, "Key", "Value"))
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TeacherId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TeacherId, new SelectList(Model.Teachers, "Key", "Value"))
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Date, new { @class = "date", @value = Model.Date.ToString("yyyy") })
            @Html.ValidationMessageFor(m => m.Date)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartTime)
            @Html.ValidationMessageFor(m => m.StartTime)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EndTime)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndTime)
            @Html.ValidationMessageFor(m => m.EndTime)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}