@model StudentTracker.Site.ViewModels.Student.StudentRegisterViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Create</h2>
@using (Html.BeginForm()) {
    <fieldset>
        <legend>Register a New Student</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.CourseId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CourseId, new SelectList(Model.Courses, "key", "value"))
            @Html.ValidationMessageFor(model => model.CourseId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StudyCenterId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.StudyCenterId, new SelectList(Model.StudyCenters, "Key", "Value"))
            @Html.ValidationMessageFor(model => model.StudyCenterId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Mobile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mobile)
            @Html.ValidationMessageFor(model => model.Mobile)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.RegisterDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RegisterDate, new { @class = "date", @Value = DateTime.Now.ToString("dd MMM yyyy") })
            @Html.ValidationMessageFor(model => model.RegisterDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProposedExamDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ProposedExamDate, new { @class = "date" })
            @Html.ValidationMessageFor(model => model.ProposedExamDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ActualExamDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ActualExamDate, new { @class = "date" })
            @Html.ValidationMessageFor(model => model.ActualExamDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoftwareGiven) @Html.LabelFor(model => model.SoftwareGiven)
            @Html.ValidationMessageFor(model => model.SoftwareGiven)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.WmPrepUsername)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WmPrepUsername)
            @Html.ValidationMessageFor(model => model.WmPrepUsername)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BooksGiven) @Html.LabelFor(model => model.BooksGiven)
            @Html.ValidationMessageFor(model => model.BooksGiven)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
