@model StudentTracker.Site.ViewModels.User.UserCreateViewModel
@{
    ViewBag.Title = "Create a User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Create a User</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>User</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.User.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.Name)
            @Html.ValidationMessageFor(model => model.User.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.User.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.Username)
            @Html.ValidationMessageFor(model => model.User.Username)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.User.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.User.Password)
            @Html.ValidationMessageFor(model => model.User.Password)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StudyCenterId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.StudyCenterId, new SelectList(Model.StudyCenters, "Id", "Name"))
            @Html.ValidationMessageFor(model => model.StudyCenterId)
        </div>
        @* <div class="editor-label">
            @Html.LabelFor(model => model.IsAdmin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsAdmin)
            @Html.ValidationMessageFor(model => model.IsAdmin)
        </div>*@
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
} 