@model StudentTracker.Site.ViewModels.Teacher.AppointmentViewModel
@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Appointments for @Model.Teacher.Name</h2>
<p>
    @using (Html.BeginForm()) { 
        <label>
            Filter by Date</label>
        @Html.HiddenFor(m => m.Teacher.Id)
        <input type="text" name="FilterDate" class="date" value='@string.Format("{0:dd MMM yyyy}", Model.FilterDate)' /> <br />
        <input type="submit" value="Fiter" />
    }
</p>
<table class="data" cellspacing="0">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Duration (hrs)
            </th>
            <th>
                Course
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Appointments != null) {
            foreach (var app in Model.Appointments) {
            <tr>
                <td>
                    @string.Format("{0:dd MMM yyyy}", app.Date)
                </td>
                <td>
                    @decimal.Round(app.StartTime.SubtractFrom(@app.EndTime), 2)
                </td>
                <td>
                    @app.Course.Name
                </td>
            </tr>
            }
        }
    </tbody>
</table>
