@model StudentTracker.Site.ViewModels.Teacher.TeacherListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    List of Teachers</h2>
<table class="data">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Mobile
            </th>
            <th>
                Appointments
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model.Teachers) { 
            <tr>
                <td>@teacher.Name
                </td>
                <td>
                    @teacher.Mobile
                </td>
                <td>
                    @Html.ActionLink("View Appointments", "Appointments", "Teacher", new { id = teacher.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
@section right{
    <div class="section">
        <h3>
            Quick Links</h3>
        <ul class="links">
            <li>@Html.ActionLink("Create Student", "Create", "Student")</li>
            <li>@Html.ActionLink("Create Teacher", "Create", "Teacher")</li>
        </ul>
    </div>
}